:root {
    --bg1-color: #000;
    --bg2-color: #353535;
    --bg3-color: #1b1b1b;
    --fg-color: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    scroll-behavior: smooth;
}

body {
    background-color: var(--bg2-color); 
    color: var(--fg-color);
}

.body_container {
    margin: 3rem 2% 8rem;
}

.header {
    background-color: var(--bg1-color);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header_container a {
    padding: 0.5rem;
}

.header_container p {
    font-weight: bold;
}

.footer {
    background-color: var(--bg1-color);
    width: 100%;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2%;
}

.container {
    gap: 2em;

    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;

    background-color: #424242;
}

.container_top p {
    font-weight: bold;
    padding: 2rem;
}

.profile_container {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_container_left, 
.profile_container_right {
    padding: 4rem;
}

.profile_container_left p {
    font-weight: bold;
}

.profile_container_right {
    text-align: left;
}

.profile_container_vline {
    width: 2px;
    background-color: var(--fg-color);
}

.box {
    padding: 20px;

    align-content: center;

    background-color: var(--bg3-color);
    border-radius: 8px;
    margin: 6px;

    display: flex;
}

.box_left, .box_right {
    align-content: center;
}

.box_left img {
    border-radius: 8px;
}

.box_right {
    padding-left: 2rem;
    text-align: left;
}

.link {
    text-decoration: none;
    color: var(--fg-color);
    cursor: pointer;
}

.fb {
    font-weight: bold;
}

@media only screen and (max-width: 598px) {
   *                         { font-size: calc(16px * 0.40); } 
   .fb                       { font-size: calc(20px * 0.40); }
   .name                     { font-size: calc(32px * 0.40); }
   .header_container p       { font-size: calc(18px * 0.40); }
   .container_top p          { font-size: calc(32px * 0.40); }
   .profile_container_left p { font-size: calc(48px * 0.40); }
   .box {
       flex-direction: column;
       text-align: center;
   }
   .box_right {
    text-align: center;
    padding: 0;
   }
   .box_left img {
       min-width: calc(320px * 0.40);
       max-width: calc(320px * 0.40);
   }
   .profile_container {
       flex-direction: column;
   }
   .profile_container_vline {
       height: calc(100px * 0.40);
   }
}

@media only screen and (max-width: 684px) {
   *                         { font-size: calc(16px * 0.65); } 
   .fb                       { font-size: calc(20px * 0.65); }
   .name                     { font-size: calc(32px * 0.65); }
   .header_container p       { font-size: calc(18px * 0.65); }
   .container_top p          { font-size: calc(32px * 0.65); }
   .profile_container_left p { font-size: calc(48px * 0.65); }
   .box_left img {
       min-width: calc(320px * 0.65);
       max-width: calc(320px * 0.65);
   }
   .profile_container_vline {
       height: calc(100px * 0.65);
   }
}

@media only screen and (min-width: 684px) {
   *                         { font-size: calc(16px * 0.75); } 
   .fb                       { font-size: calc(20px * 0.75); }
   .name                     { font-size: calc(32px * 0.75); }
   .header_container p       { font-size: calc(18px * 0.75); }
   .container_top p          { font-size: calc(32px * 0.75); }
   .profile_container_left p { font-size: calc(48px * 0.75); }
   .box_left img {
       min-width: calc(320px * 0.75);
       max-width: calc(320px * 0.75);
   }
   .profile_container_vline {
       height: calc(100px * 0.75);
   }
}

@media only screen and (min-width: 992px) {
   *                         { font-size: 16px; } 
   .fb                       { font-size: 20px; }
   .name                     { font-size: 32px; }
   .header_container p       { font-size: 18px; }
   .container_top p          { font-size: 32px; }
   .profile_container_left p { font-size: 48px; }
   .box_left img {
       min-width: 320px;
       max-width: 320px;
   }
   .profile_container_vline {
       height: 100px;
   }
}